<div class="container">
<form class="form-horizontal" action="/users/<%= @user.user_id %>" method="post">
  <div class="form-group">
    <label class="col-xs-4 control-label"><h5>First Name</h5></label>
    <div class="col-xs-6">
      <input type="text" class="form-control input-lg" name="first_name" placeholder="Enter First Name" value="<%= @user.first_name %>">
    </div>
  </div>


  <div class="form-group">
    <label class="col-xs-4 control-label"><h5>Last Name</h5></label>
    <div class="col-xs-6">
      <input type="text" class="form-control input-lg" name="last_name" placeholder="Enter Last Name" value="<%= @user.last_name %>">
    </div>
  </div>

  <div class="form-group">
    <label class="col-xs-4 control-label"><h5>Email</h5></label>
    <div class="col-xs-6">
      <input type="text" class="form-control input-lg" name="email" placeholder="Enter Email" value="<%= @user.email %>">
    </div>
  </div>

  <div class="form-group">
    <label class="col-xs-4 control-label"><h5>Password</h5></label>
    <div class="col-xs-6">
      <input type="text" class="form-control input-lg" name="password" placeholder="Enter Password" value="<%= @user.password %>">
    </div>
  </div>

  <div class="form-group">
    <label class="col-xs-4 control-label"><h5>Cohort</h5></label>
    <div class="col-xs-6">
      <select name="cohort_id" class="form-control input-lg">
        <option>Choose A Cohort</option>
        <% @cohorts.each do |cohort| %>
          <div>
            <option name="cohort_id" value="<%= cohort.cohort_id %>"><%= cohort.cohort_name %></option>
          </div>
        <% end %>
    </select>
    </div>
  </div>

  <div class="form-group">
    <label class="col-xs-4 control-label"><h5>Role</h5></label>
    <div class="col-xs-6">
      <select name="role_id" class="form-control input-lg">
      <option>Choose A Role</option>
        <% @roles.each do |role| %>
          <div>
            <option name="role_id" value="<%= role.role_id %>"><%= role.role_name %></option>
          </div>
        <% end %>
      </select>
    </div>
  </div>

  <div class="form-group">
    <button type="submit" class="btn btn-default btn-lg btn-block delete-button" value="Save User">Save user</button>
  <% if (@user.user_id) %>
      <input type="hidden" name="_method" value="PUT">
  <% end %>
  </div>

</form>

</div>
