<div class="container">
<form class="form-horizontal" action="/users/<%= @user.user_id %>" method="post">
  <div class="form-group">
    <label class="col-xs-4 control-label"><h5>First Name</h5></label>
    <div class="col-xs-6">
      <input type="text" class="form-control input-lg" name="first_name" placeholder="Enter First Name" value="<%= @user.first_name %>">
    </div>
  </div>


  <div class="form-group">
    <label class="col-xs-4 control-label"><h5>Last Name</h5></label>
    <div class="col-xs-6">
      <input type="text" class="form-control input-lg" name="last_name" placeholder="Enter Last Name" value="<%= @user.last_name %>">
    </div>
  </div>

  <div class="form-group">
    <label class="col-xs-4 control-label"><h5>Email</h5></label>
    <div class="col-xs-6">
      <input type="text" class="form-control input-lg" name="email" placeholder="Enter Email" title="Email address must end in @spartaglobal.com" value="<%= @user.email %>" id="emailValidate" pattern="[a-z0-9._%+-]+@spartaglobal.com$" required>
      <span id="helpBlock" class="help-block">Must be your Sparta Global address</span>
    </div>
  </div>

  <div class="form-group">
    <label class="col-xs-4 control-label"><h5>Password</h5></label>
    <div class="col-xs-6">
      <input type="password" class="form-control input-lg" name="password" placeholder="Enter Password" title="Password must have at least one uppercase letter, one lowercase letter, one number and be between 8 and 15 characters long" value="<%= @user.password %>" id="passwordValidate" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,15}" required>
      <span id="helpBlock" class="help-block">Must be 8-15 characters long and include at least 1 number, 1 upper and lower case letter</span>
    </div>
  </div>

  <div class="form-group">
    <label class="col-xs-4 control-label"><h5>Cohort</h5></label>
    <div class="col-xs-6">
      <select name="cohort_id" class="form-control input-lg">
        <option>Choose A Cohort</option>
        <% @cohorts.each do |cohort| %>
          <div>
            <option name="cohort_id" value="<%= cohort.cohort_id %>"><%= cohort.cohort_name %></option>
          </div>
        <% end %>
    </select>
    </div>
  </div>

  <div class="form-group">
    <label class="col-xs-4 control-label"><h5>Role</h5></label>
    <div class="col-xs-6">
      <select name="role_id" class="form-control input-lg">
      <option>Choose A Role</option>
        <% @roles.each do |role| %>
          <div>
            <option name="role_id" value="<%= role.role_id %>"><%= role.role_name %></option>
          </div>
        <% end %>
      </select>
    </div>
  </div>
    <div>
       <label class="message">Must fill in all fields correctly</label>
     </div>
  
  <div class="form-group userSave">
    <button type="submit" class="btn btn-default btn-lg btn-block delete-button" value="Save User">Save user</button>
  <% if (@user.user_id) %>
      <input type="hidden" name="_method" value="PUT">
  <% end %>
  </div>
</form>

</div>
