<div class="container show">
  <table align="center">
    <h1><%= @user.first_name + ' ' + @user.last_name %></h1>
    <tbody class="table-content">
      <tr>
        <td><h4>Email: </h4></td>
        <td><p><%= @user.email %></p></td>
      </tr>
      <tr>
        <td><h4>Cohort: </h4></td>
        <td><p><%= @user.cohort_name %></p></td>
      </tr>
      <tr>
        <td><h4>Specialisation: </h4></td>
        <td><p><%= @user.spec_name %></p></td>
      </tr>
      <tr>
        <td><h4>Role: </h4></td>
        <td><p><%= @user.role_name %></p></td>
      </tr>
    </tbody>
  </table>

  <div>
    <div>
      <button class="btn btn-default btn-lg btn-block edit-button" type="button" onclick="window.location.href = '/users/<%= @user.user_id %>/edit';" name="button">Edit</button>
    </div>
    <div>
      <form class="d-none" id="delete-user" action="" method="POST">
      <input type="hidden" name="_method" value="DELETE">
      </form>
      <button class="btn btn-danger btn-lg btn-block delete-button" type="submit" name="button" form="delete-user">Delete</button>
      </div>
    </div>
</div>
