
<h1><%= @user.first_name + ' ' + @user.last_name %></h1>

<div>
  <h3>Email:</h3>
  <p><%= @user.email %></p>
</div>

<div>
  <h3>Password:</h3>
  <p><%= @user.password %></p>
</div>

<div>
  <h3>Cohort:</h3>
  <p><%= @user.cohort_id %></p>
</div>

<div>
  <h3>Specialisation:</h3>
  <p><%= @user.spec_id %></p>
</div>

<div>
  <h3>Role:</h3>
  <p><%= @user.role_id %></p>
</div>


<div>
    <div>
      <button class="btn btn-secondary btn-lg btn-block" type="button" name="button"><a href="/users/<%= @user.user_id %>/edit">Edit User</a></button>
    </div>
    <div>
      <form class="d-none" id="delete-user" action="" method="POST">
        <input type="hidden" name="_method" value="DELETE">
      </form>
      <button class="btn btn-danger btn-lg btn-block" type="submit" name="button" form="delete-user">Delete User</button>
    </div>
  </div>
</div>
