<div class="container show">


<table class="" align="center">
  <h1><%= @user.first_name + ' ' + @user.last_name %></h1>
  <tbody>
          <tr>
            <td><h3>Email:</h3></td>
            <td><%= @user.email %></td>
          </tr>
          <tr>
            <td><h3>Password:</h3></td>
            <td><%= @user.password %></td>
          </tr>
          <tr>
            <td><h3>Cohort:</h3></td>
            <td><%= @user.cohort_name %></td>
          </tr>
          <tr>
            <td><h3>Specialisation:</h3></td>
            <td><%= @user.spec_name %></td>
          </tr>
          <tr>
            <td><h3>Role:</h3></td>
            <td><%= @user.role_name %></td>
          </tr>
  </tbody>
</table>

<div>
    <div>
      <button class="btn btn-default btn-lg btn-block" type="button" name="button"><a href="/users/<%= @user.user_id %>/edit">Edit User</a></button>
    </div>
    <div>
      <form class="d-none" id="delete-user" action="" method="POST">
        <input type="hidden" name="_method" value="DELETE">
      </form>
      <button class="btn btn-danger btn-lg btn-block" type="submit" name="button" form="delete-user">Delete User</button>
    </div>
  </div>
</div>
